/**
 * Import variables.
 */

 @import "variables";

 /**
  * Variable definitions.
  */
 
 /**
  * Extra small screen size.
  */

#vp-footer {

  @extend %textured-background;
  @include shadow(0px 0 2px 0 #000);

  color: #fff;
  margin-top: 2rem;
  overflow: auto;
  position: relative;
  z-index: 500;

}

#vp-footer-content {

  @extend %textured-background;

  position: relative;

}

.vp-footer-overlay {

  @extend %abs-full;
  @extend %ltr-gradient;

}

/**
 * Small screen size.
 */

@media (min-width: $screen-sm) {

  #vp-testimonial + #vp-footer {

    margin-top: 0;

  }

}