/**
 * Import variables.
 */
/**
 * Variable definitions.
 */
#vp-header .vp-image-header .vp-image-header-left-overlay-bg, #vp-header .vp-image-header .vp-image-header-right-overlay-bg, #vp-header .vp-image-header .vp-image-header-left-overlay-fg, #vp-header .vp-image-header .vp-image-header-right-overlay-fg, #vp-header .vp-cta-video-header .vp-cta-video, #vp-header .vp-cta-video-header .vp-cta-video-left-overlay-bg, #vp-header .vp-cta-video-header .vp-cta-video-right-overlay-bg, #vp-header .vp-cta-video-header .vp-cta-video-left-overlay-fg, #vp-header .vp-cta-video-header .vp-cta-video-right-overlay-fg {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%; }

#vp-header .vp-image-header .vp-image-header-left-overlay-bg, #vp-header .vp-cta-video-header .vp-cta-video-left-overlay-bg {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%; }

#vp-header .vp-image-header .vp-image-header-right-overlay-bg, #vp-header .vp-cta-video-header .vp-cta-video-right-overlay-bg {
  bottom: 0;
  height: 100%;
  left: 50%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%; }

#vp-header .vp-image-header .vp-image-header-text p {
  font-family: GothamCondensed-Light, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

.vp-cta-container .card {
  font-family: GothamCondensed-Book, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

#vp-header .vp-image-header .vp-image-header-text h1, #vp-header .vp-cta-video-header .vp-cta-video-text p a, .vp-cta-container .card-title, .vp-cta-container .card-footer a {
  font-family: GothamCondensed-Bold, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

#vp-header .vp-image-header .vp-image-header-left-overlay-fg, #vp-header .vp-cta-video-header .vp-cta-video-left-overlay-fg, .vp-cta-container .card-footer a {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black); }

/**
 * Web font definitions.
 */
@font-face {
  font-family: 'GothamCondensed-Bold';
  src: url("../fonts/GothamCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamCondensed-Bold.otf") format("opentype"), url("../fonts/GothamCondensed-Bold.woff") format("woff"), url("../fonts/GothamCondensed-Bold.ttf") format("truetype"), url("../fonts/GothamCondensed-Bold.svg#GothamCondensed-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamCondensed-Light';
  src: url("../fonts/GothamCondensed-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamCondensed-Light.otf") format("opentype"), url("../fonts/GothamCondensed-Light.woff") format("woff"), url("../fonts/GothamCondensed-Light.ttf") format("truetype"), url("../fonts/GothamCondensed-Light.svg#GothamCondensed-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamCondensed-Medium';
  src: url("../fonts/GothamCondensed-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamCondensed-Medium.otf") format("opentype"), url("../fonts/GothamCondensed-Medium.woff") format("woff"), url("../fonts/GothamCondensed-Medium.ttf") format("truetype"), url("../fonts/GothamCondensed-Medium.svg#GothamCondensed-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamCondensed-Book';
  src: url("../fonts/GothamCondensed-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamCondensed-Book.otf") format("opentype"), url("../fonts/GothamCondensed-Book.woff") format("woff"), url("../fonts/GothamCondensed-Book.ttf") format("truetype"), url("../fonts/GothamCondensed-Book.svg#GothamCondensed-Book") format("svg");
  font-weight: normal;
  font-style: normal; }
/**
 * Variable definitions.
 */
/**
 * Extra small screen size.
 */
#vp-header {
  background-image: linear-gradient(to bottom, #888888, #fff);
  overflow: auto;
  padding: 2rem 1rem 1.75rem; }
  #vp-header .vp-image-header {
    -webkit-box-shadow: 0px 0 2px 0 #000;
    -moz-box-shadow: 0px 0 2px 0 #000;
    box-shadow: 0px 0 2px 0 #000;
    background: url(../images/texture.jpg) 50% 50%/6px 6px repeat;
    color: #fff;
    margin-bottom: 2rem;
    overflow: auto; }
    #vp-header .vp-image-header .vp-image-header-left-overlay-bg {
      background: url(../images/texture.jpg) 50% 50%/6px 6px repeat;
      display: none;
      z-index: 1; }
    #vp-header .vp-image-header .vp-image-header-right-overlay-bg {
      background: url(../images/50.png) center center repeat;
      display: none;
      z-index: 1; }
    #vp-header .vp-image-header .vp-image-header-text {
      margin: 1rem auto;
      text-align: center;
      z-index: 2; }
      #vp-header .vp-image-header .vp-image-header-text h1 {
        font-size: 2.5rem;
        line-height: 1;
        margin-bottom: 0;
        text-transform: uppercase; }
      #vp-header .vp-image-header .vp-image-header-text p {
        font-size: 1.25rem;
        line-height: 1.25;
        margin-bottom: 0;
        margin-top: 0.25rem; }
  #vp-header .vp-cta-video-header {
    -webkit-box-shadow: 0px 0 2px 0 #000;
    -moz-box-shadow: 0px 0 2px 0 #000;
    box-shadow: 0px 0 2px 0 #000;
    background: url(../images/texture.jpg) 50% 50%/6px 6px repeat;
    color: #fff;
    margin-bottom: 1.75rem;
    overflow: auto; }
    #vp-header .vp-cta-video-header .vp-cta-video {
      display: none;
      overflow: hidden;
      z-index: 0; }
      #vp-header .vp-cta-video-header .vp-cta-video video {
        left: 50%;
        height: auto;
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: auto;
        z-index: -1; }
    #vp-header .vp-cta-video-header .vp-cta-video-left-overlay-bg {
      background: url(../images/texture.jpg) 50% 50%/6px 6px repeat;
      display: none;
      z-index: 1; }
    #vp-header .vp-cta-video-header .vp-cta-video-right-overlay-bg {
      background: url(../images/50.png) center center repeat;
      display: none;
      z-index: 1; }
    #vp-header .vp-cta-video-header .vp-cta-video-text {
      margin: 1rem auto;
      z-index: 2; }
      #vp-header .vp-cta-video-header .vp-cta-video-text p {
        font-size: 1.5rem;
        line-height: 1.25;
        text-align: center; }
        #vp-header .vp-cta-video-header .vp-cta-video-text p a {
          color: #df151a;
          text-decoration: none; }
      #vp-header .vp-cta-video-header .vp-cta-video-text p:last-child {
        margin-bottom: 0; }

#vp-card-container {
  padding: 0;
  margin: 0; }

.vp-cta-container {
  padding: 0.25rem 1rem; }
  .vp-cta-container .card {
    -webkit-box-shadow: 0px 0 2px 0 #000;
    -moz-box-shadow: 0px 0 2px 0 #000;
    box-shadow: 0px 0 2px 0 #000;
    background: #000;
    border: none !important;
    border-radius: 0 !important;
    color: #fff; }
  .vp-cta-container .card-img-top {
    border-radius: 0 !important; }
  .vp-cta-container .card-title {
    font-size: 2rem;
    line-height: 1;
    text-align: center;
    text-transform: uppercase; }
  .vp-cta-container .card-text {
    font-size: 1.25rem;
    line-height: 1.2; }
  .vp-cta-container .card-footer {
    background: url(../images/texture.jpg) 50% 50%/6px 6px repeat;
    border: none !important;
    overflow: auto;
    padding: 0;
    position: relative; }
    .vp-cta-container .card-footer a {
      color: #df151a;
      display: block;
      font-size: 1.5rem;
      padding: 0.75rem 1rem;
      text-align: center;
      text-decoration: none;
      text-shadow: 0px 0px 3px #000000;
      text-transform: uppercase; }
      .vp-cta-container .card-footer a:hover i {
        color: #fff; }

/**
 * Medium screen size.
 */
@media (min-width: 768px) {
  #vp-header .vp-image-header {
    background: transparent url(../images/bg.jpg) no-repeat right center;
    background-size: cover;
    height: 12rem; }
    #vp-header .vp-image-header .vp-image-header-left-overlay-bg, #vp-header .vp-image-header .vp-image-header-right-overlay-bg {
      display: block; }
    #vp-header .vp-image-header .vp-image-header-right-overlay-fg {
      border-bottom: 6rem solid transparent;
      border-left: 2rem solid #000;
      border-top: 6rem solid transparent; }
    #vp-header .vp-image-header .vp-image-header-text {
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: 0;
      margin: 0;
      padding: 1rem 2rem;
      position: absolute;
      right: 50%;
      text-align: left;
      top: 0; }
  #vp-header .vp-cta-video-header {
    background: transparent url(../images/bg.jpg) no-repeat right center;
    background-size: cover;
    height: 21rem; }
    #vp-header .vp-cta-video-header .vp-cta-video, #vp-header .vp-cta-video-header .vp-cta-video-left-overlay-bg, #vp-header .vp-cta-video-header .vp-cta-video-right-overlay-bg {
      display: block; }
    #vp-header .vp-cta-video-header .vp-cta-video-right-overlay-fg {
      border-bottom: 10.5rem solid transparent;
      border-left: 2.625rem solid #000;
      border-top: 10.5rem solid transparent; }
    #vp-header .vp-cta-video-header .vp-cta-video-text {
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: 0;
      margin: 0;
      padding: 1rem 2rem;
      position: absolute;
      right: 50%;
      top: 0; } }
/**
 * Large screen size.
 */
@media (min-width: 992px) {
  #vp-header .vp-image-header {
    height: 12rem; }
    #vp-header .vp-image-header .vp-image-header-right-overlay-fg {
      border-bottom: 6rem solid transparent;
      border-left: 2rem solid #000;
      border-top: 6rem solid transparent; }
  #vp-header .vp-cta-video-header {
    height: 18rem; }
    #vp-header .vp-cta-video-header .vp-cta-video-right-overlay-fg {
      border-bottom: 9rem solid transparent;
      border-left: 2.25rem solid #000;
      border-top: 9rem solid transparent; } }
/**
 * Extra large screen size.
 */
@media (min-width: 1200px) {
  #vp-header .vp-image-header {
    height: 12rem; }
    #vp-header .vp-image-header .vp-image-header-right-overlay-fg {
      border-bottom: 6rem solid transparent;
      border-left: 2rem solid #000;
      border-top: 6rem solid transparent; }
  #vp-header .vp-cta-video-header {
    height: 16rem; }
    #vp-header .vp-cta-video-header .vp-cta-video-right-overlay-fg {
      border-bottom: 8rem solid transparent;
      border-left: 2rem solid #000;
      border-top: 8rem solid transparent; } }

/*# sourceMappingURL=home.css.map */
