/**
 * Import variables.
 */

@import "variables";

/**
 * Variable definitions.
 */

// Image header.
$image-header-content-height-xs: 12rem;
$image-header-content-height-sm: 12rem;
$image-header-content-height-md: 12rem;
$image-header-content-height-lg: 12rem;
$image-header-content-height-xl: 12rem;
$image-shape-width-xl: 2rem;
$image-shape-width-md: ($image-header-content-height-md / $image-header-content-height-xl) * $image-shape-width-xl;
$image-shape-width-lg: ($image-header-content-height-lg / $image-header-content-height-xl) * $image-shape-width-xl;

// Video header.
$video-header-content-height-xs: 21rem;
$video-header-content-height-sm: 18rem;
$video-header-content-height-md: 21rem;
$video-header-content-height-lg: 18rem;
$video-header-content-height-xl: 16rem;
$video-shape-width-xl: 2rem;
$video-shape-width-md: ($video-header-content-height-md / $video-header-content-height-xl) * $video-shape-width-xl;
$video-shape-width-lg: ($video-header-content-height-lg / $video-header-content-height-xl) * $video-shape-width-xl;

/**
 * Extra small screen size.
 */

#vp-header-overlay {

    @extend %abs-full;

    background: transparent url(../images/pattern.png) 50% 50%/55px 55px repeat;

}

#vp-header {

    background-image: linear-gradient(to bottom, $light-gradient-top, $light-gradient-bottom);
    overflow: auto;
    padding: 2rem 1rem 1.75rem;
    position: relative;

    .vp-image-header {

        @include shadow(0px 0 2px 0 #000);

        background: url(../images/texture.png) 50% 50%/6px 6px repeat;    
        color: #fff;
        height: $image-header-content-height-xs;
        margin-bottom: 2rem;
        overflow: auto;

        .vp-image-header-left-overlay-bg, .vp-image-header-right-overlay-bg, .vp-image-header-left-overlay-fg, .vp-image-header-right-overlay-fg {

            @extend %abs-full;

        }

        .vp-image-header-left-overlay-fg {

            @extend %ltr-gradient;

        }

        .vp-image-header-left-overlay-bg {

            background: url(../images/texture.png) 50% 50%/6px 6px repeat;
            z-index: 1;
            
        }

        .vp-image-header-right-overlay-bg {

            @extend %abs-right;

            display: none;
            z-index: 1;
            
        }

        .vp-image-header-text {

            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            left: 0;
            margin: 0;
            padding: 1rem 2rem;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            z-index: 2;

            h1 {

                @extend %brand-font-medium;

                font-size: 2.5rem;
                line-height: 1;
                margin-bottom: 0;
                text-transform: uppercase;

            }

            p {

                @extend %brand-font-light;
                
                font-size: 1.25rem;
                line-height: 1.25;
                margin-bottom: 0;
                margin-top: 0.25rem;

            }
            
        }

    }

    .vp-cta-video-header {

        @include shadow(0px 0 2px 0 #000);

        background: url(../images/texture.png) 50% 50%/6px 6px repeat;    
        color: #fff;
        height: $video-header-content-height-xs;
        margin-bottom: 1.75rem;
        overflow: auto;

        .vp-cta-video, .vp-cta-video-left-overlay-bg, .vp-cta-video-right-overlay-bg, .vp-cta-video-left-overlay-fg, .vp-cta-video-right-overlay-fg {

            @extend %abs-full;

        }

        .vp-cta-video-left-overlay-fg {

            @extend %ltr-gradient;

        }

        .vp-cta-video {

            display: none;
            overflow: hidden;
            z-index: 0;

            video {

                left: 50%;
                height: auto;
                min-height: 100%;
                min-width: 100%;
                position: absolute;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: auto;
                z-index: -1;

            }

        }

        .vp-cta-video-left-overlay-bg {

            background: url(../images/texture.png) 50% 50%/6px 6px repeat;
            z-index: 1;
            
        }

        .vp-cta-video-right-overlay-bg {

            @extend %abs-right;

            display: none;
            z-index: 1;
            
        }

        .vp-cta-video-text {

            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            left: 0;
            margin: 0;
            padding: 1rem 2rem;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;

            p {
                
                font-size: 1.5rem;
                line-height: 1.25;
                text-align: center;

                a {

                    @extend %brand-font-medium;

                    color: $brand-red;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover i {

                        color: #fff;

                    }

                }

            }

            p:last-child {
                
                margin-bottom: 0;

            }
            
        }

    }
    
}

#vp-card-container {

    padding: 0;
    margin: 0;

}

.vp-cta-container {

    padding: 0.25rem 1rem;

    .card {

        @extend %brand-font-book;
        @include shadow(0px 0 2px 0 #000);

        background: #000;
        border: none !important;
        border-radius: 0 !important;
        color: #fff;

    }

    .card-img-top {

        border-radius: 0 !important;

    }

    .card-title {

        @extend %brand-font-medium;

        font-size: 2rem;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;

    }

    .card-text {

        font-size: 1.25rem;
        line-height: 1.2;

    }

    .card-footer {

        background: url(../images/texture.png) 50% 50%/6px 6px repeat;
        border: none !important;
        overflow: auto;
        padding: 0;
        position: relative;

        a {

            @extend %brand-font-medium;
            @extend %ltr-gradient-half;

            color: $brand-red;
            display: block;
            font-size: 1.5rem;
            padding: 0.75rem 1rem;
            text-align: center;
            text-decoration: none;
            text-shadow: 0px 0px 3px #000000;
            text-transform: uppercase;
            
            &:hover i {

                color: #fff;

            }

        }

    }

}

/**
 * Medium screen size.
 */

@media (min-width: $screen-md) {

    #vp-header {

        .vp-image-header {

            background: transparent url(../images/bg.jpg) no-repeat right center;
            background-size: cover;
            height: $image-header-content-height-md;

            .vp-image-header-left-overlay-bg, .vp-image-header-right-overlay-bg {
    
                display: block;
    
            }

            .vp-image-header-left-overlay-bg {

                width: 50% !important;

            }

            .vp-image-header-right-overlay-fg {
    
                border-bottom: ($image-header-content-height-md / 2) solid transparent;
                border-left: $image-shape-width-md solid #000;
                border-top: ($image-header-content-height-md / 2) solid transparent;
    
            }

            .vp-image-header-text {

                right: 50%;
                text-align: left;

            }

        }

        .vp-cta-video-header {

            background: transparent url(../images/bg.jpg) no-repeat right center;
            background-size: cover;
            height: $video-header-content-height-md;

            .vp-cta-video, .vp-cta-video-left-overlay-bg, .vp-cta-video-right-overlay-bg {

                display: block;

            }

            .vp-cta-video-left-overlay-bg {

                width: 50%;

            }

            .vp-cta-video-right-overlay-fg {
    
                border-bottom: ($video-header-content-height-md / 2) solid transparent;
                border-left: $video-shape-width-md solid #000;
                border-top: ($video-header-content-height-md / 2) solid transparent;
    
            }

            .vp-cta-video-text {

                bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                left: 0;
                margin: 0;
                padding: 1rem 2rem;
                position: absolute;
                right: 50%;
                top: 0;

            }

        }

    }

}

/**
 * Large screen size.
 */

@media (min-width: $screen-lg) {

    #vp-header {

        .vp-image-header {

            height: $image-header-content-height-lg;

            .vp-image-header-right-overlay-fg {
    
                border-bottom: ($image-header-content-height-lg / 2) solid transparent;
                border-left: $image-shape-width-lg solid #000;
                border-top: ($image-header-content-height-lg / 2) solid transparent;
    
            }

        }

        .vp-cta-video-header {

            height: $video-header-content-height-lg;

            .vp-cta-video-right-overlay-fg {
    
                border-bottom: ($video-header-content-height-lg / 2) solid transparent;
                border-left: $video-shape-width-lg solid #000;
                border-top: ($video-header-content-height-lg / 2) solid transparent;
    
            }

        }

    }

}

/**
 * Extra large screen size.
 */

@media (min-width: $screen-xl) {

    #vp-header {

        .vp-image-header {

            height: $image-header-content-height-xl;

            .vp-image-header-right-overlay-fg {
    
                border-bottom: ($image-header-content-height-xl / 2) solid transparent;
                border-left: $image-shape-width-xl solid #000;
                border-top: ($image-header-content-height-xl / 2) solid transparent;
    
            }

        }

        .vp-cta-video-header {

            height: $video-header-content-height-xl;

            .vp-cta-video-right-overlay-fg {
    
                border-bottom: ($video-header-content-height-xl / 2) solid transparent;
                border-left: $video-shape-width-xl solid #000;
                border-top: ($video-header-content-height-xl / 2) solid transparent;
    
            }

        }

    }

}