/**
 * Import variables.
 */

@import "variables";

/**
 * Variable definitions.
 */

// Size.
$navbar-height-xs: 6rem;
$navbar-height-md: 8rem;

/**
 * Extra small screen size.
 */

body {

  padding-top: $navbar-height-xs;

}

#vp-site-nav {

  @include shadow(0px 3px 5px -4px #000);

  background: url(../images/texture.jpg) 50% 50%/6px 6px repeat;
  border-bottom: 0.25rem solid $brand-red;
  min-height: $navbar-height-xs;
  padding: 1rem;

  .vp-nav-overlay {

    @extend %abs-full;

  }

  .vp-nav-overlay {

    @extend %ltr-gradient;

    z-index: 1;

  }

  .navbar-brand, .navbar-toggler, .navbar-collapse {

    z-index: 3;

  }

}

.navbar-brand {

  height: $navbar-height-xs - 2rem;
  padding: 0 !important;

  img {

    display: block;
    height: 100%;

  }

}

.nav-link {

  @extend %brand-font-medium;

  color: #fff !important;
  line-height: 1;
  padding-bottom: 0;
  text-transform: uppercase;

}

#vp-site-primary-nav {

  .nav-link {

    font-size: 1.5rem;

  }

}

#vp-site-secondary-nav {

  .nav-link {

    font-size: 1.25rem;

  }

}

.dropdown-menu {

  @include shadow(inset 0px 0 0.5rem 0 #000);

  background: url(../images/texture.jpg) 50% 50%/6px 6px repeat;
  border: 0.1rem solid $brand-red;
  border-radius: 0.25rem !important;
  color: #fff;
  min-height: 5rem;
  padding: 0;

  .vp-nav-overlay {

    display: none;

  }

}

/**
 * Medium screen size.
 */

@media (min-width: $screen-md) {

  body {
  
    padding-top: $navbar-height-md;
  
  }

  #vp-site-nav {

    min-height: $navbar-height-md;

  }

  .navbar-brand {
  
    height: $navbar-height-md - 2rem;
    margin-right: 3rem;

  }

  .dropdown {

    position: static;

  }

  .dropdown-menu {

    @include shadow(0px 3px 5px -4px #000);

    border: none;
    border-bottom: 0.25rem solid $brand-red;
    border-radius: 0 !important;
    margin-top: -0.25rem;
    top: 100%;
    width: 100%;

    .vp-nav-overlay {
  
      display: block;
  
    }

  }

}

/**
 * Large screen size.
 */

@media (min-width: $screen-lg) {

  #vp-site-primary-nav {
  
    .nav-link {
  
      font-size: 2rem;
  
    }
  
  }
  
  #vp-site-secondary-nav {
  
    .nav-link {
  
      font-size: 1.5rem;
  
    }
  
  }

}