/**
 * Import variables.
 */

 @import "variables";

 /**
  * Variable definitions.
  */
 
 /**
  * Extra small screen size.
  */

#vp-testimonial {

  @extend %brand-font-book;
  @include shadow(0px 0 2px 0 #000);

  background: url(../images/testimonial.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  margin-top: 2rem;
  position: relative;
  text-align: center;
  z-index: 700;

  .vp-testimonial-content {
    
    @include shadow(0px 0 2px 0 #000);

    background-color: rgba(0, 0, 0, 0.5);
    margin: 2rem 0;
    padding: 0 2rem;

  }

  .container {

    position: relative;
    z-index: 2;

  }

  h5 {

    @extend %brand-font-medium;
    @extend %text-shadow-default;

    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 2rem;

  }

  .vp-testimonial-quote {

    font-size: 1.5rem;
    margin: 2rem auto;

    i {

      @extend %text-shadow-default;

      color: rgba(255, 255, 255, 0.5);

    }

    p {

      @extend %text-shadow-default;

      font-style: italic;
      margin-bottom: 0;
      margin-left: 2rem;
      margin-right: 2rem;

    }

  }

}

#vp-testimonial-overlay {

  @extend %abs-full;

  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;

}