/**
 * Variable definitions.
 */

// Screen size breakpoints.

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

// Colors.

$brand-red: #df151a;
$light-gray: #fbfcfe;
$light-gradient-top: #888888;
$light-gradient-bottom: #fff;

// Fonts.

$default-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Mixins.

@mixin shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin text-shadow($size, $color) {
  text-shadow: 0px 0px $size $color;
}

// Extensions.

%abs-full { bottom: 0; height: 100%; left: 0; position: absolute; right: 0; top: 0; width: 100%; }
%abs-left { bottom: 0; height: 100%; left: 0; position: absolute; top: 0; width: 50%; }
%abs-right { bottom: 0; height: 100%; left: 50%; position: absolute; right: 0; top: 0; width: 50%; }
%brand-font-light { font-family: GothamCondensed-Light, $default-font-stack; }
%brand-font-book { font-family: GothamCondensed-Book, $default-font-stack; }
%brand-font-medium { font-family: GothamCondensed-Medium, $default-font-stack; }
%brand-font-bold { font-family: GothamCondensed-Bold, $default-font-stack; }
%btt-gradient { background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1)); }
%btt-gradient-half { background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.5)); }
%ltr-gradient { background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1)); }
%ltr-gradient-half { background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.5)); }
%text-shadow-default { @include text-shadow(3px, #000); }
%textured-background { background: url(../images/texture.png) 50% 50%/6px 6px repeat; }

/**
 * Web font definitions.
 */

@font-face {
  font-family: 'GothamCondensed-Bold';
  src: url('../fonts/GothamCondensed-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GothamCondensed-Bold.otf') format('opentype'),
       url('../fonts/GothamCondensed-Bold.woff') format('woff'),
       url('../fonts/GothamCondensed-Bold.ttf') format('truetype'),
       url('../fonts/GothamCondensed-Bold.svg#GothamCondensed-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamCondensed-Light';
  src: url('../fonts/GothamCondensed-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GothamCondensed-Light.otf') format('opentype'),
       url('../fonts/GothamCondensed-Light.woff') format('woff'),
       url('../fonts/GothamCondensed-Light.ttf') format('truetype'),
       url('../fonts/GothamCondensed-Light.svg#GothamCondensed-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamCondensed-Medium';
  src: url('../fonts/GothamCondensed-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GothamCondensed-Medium.otf') format('opentype'),
       url('../fonts/GothamCondensed-Medium.woff') format('woff'),
       url('../fonts/GothamCondensed-Medium.ttf') format('truetype'),
       url('../fonts/GothamCondensed-Medium.svg#GothamCondensed-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamCondensed-Book';
  src: url('../fonts/GothamCondensed-Book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GothamCondensed-Book.otf') format('opentype'),
       url('../fonts/GothamCondensed-Book.woff') format('woff'),
       url('../fonts/GothamCondensed-Book.ttf') format('truetype'),
       url('../fonts/GothamCondensed-Book.svg#GothamCondensed-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}