/**
 * Import variables.
 */

@import "variables";

/**
 * Extra small screen size.
 */

/**
 * Base tags.
 */

body {

    @extend %brand-font-book;

    background: #fff url(../images/pattern.png) 50% 50% repeat;
    overflow: auto;
    
}

/**
 * Brand specific classes.
 */

.btn-brand {

    background-color: $brand-red;
    color: #fff !important;
    cursor: pointer;

    &:hover, &:active {

        background: $brand-red url(../images/pattern.png) center center repeat;

    }

}

/**
 * Fixed request quote button.
 */

 #vp-rfq-button {

    @extend %brand-font-medium;
    @include shadow(0px 0 2px 0 #000);

    background-color: $brand-red;
    color: #fff;
    font-size: 1.25rem;
    left: 0;
    line-height: 1.2;
    margin-left: -1rem;
    padding: 1rem 1rem 1rem 2rem;
    position: fixed;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 0px 2px #000000;
    text-transform: uppercase;
    top: 50%;
    z-index: 99999;

    &:hover, &:active {

        background: $brand-red url(../images/pattern.png) center center repeat;

    }

 }