/**
 * Import variables.
 */

@import "variables";

/**
 * Extra small screen size.
 */

/**
 * Base tags.
 */

body {

    @extend %brand-font-book;

    background: #fff url(../images/pattern.png) 50% 50% repeat;
    overflow: auto;
    
}

/**
 * Brand specific classes.
 */

.btn-brand {

    background-color: $brand-red;
    color: #fff;
    cursor: pointer;

    &:hover, &:active {

        background: $brand-red url(../images/pattern.png) center center repeat;

    }

}